{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<nav class="navbar navbar-expand-lg bg-body-dark-blur sticky-top" data-bs-theme="dark">
  <div class="container">
    <a href="/" class="navbar-brand py-5">
      {{- if site.Params.LogoPath -}}
          <img src="{{ site.Params.LogoPath|absURL}}"alt="">
      {{- else -}}
          <h1>{{ site.Title }}</h1>
      {{- end -}}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#site-menu" aria-controls="site-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="site-menu">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      </ul>
    </div>
  </div>
</nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    <li class="nav-item">
      {{- $attrs := dict "href" .URL "class" "nav-link" }}
      {{- if $page.IsMenuCurrent .Menu . }}
        {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
      {{- else if $page.HasMenuCurrent .Menu .}}
        {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
      {{- end }}
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{- with .Pre -}}{{- . -}}{{- end -}}<span>{{- or (T .Identifier) .Name | safeHTML -}}</span></a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}